* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #534d56;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
}

h1 {
  font-family: "Lora", serif;
  text-align: center;
}

input {
  display: block;
  height: 24px;
  border-radius: 16px;
  text-align: center;
  width: 200px;
  margin-bottom: 12px;
  border: solid white 2px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
}

span {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 2rem; */
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

#values {
  letter-spacing: 0.8px;
  color: #ccc;
}
